* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans',sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    position: fixed;
    width: 100%;
}



img {
    width: 138px;
    height: 30px;
}

.nav-center {
    display: flex;
    list-style: none;
    margin: auto;
    font-weight: 600;
    font-size: 15px;
}

.nav-right {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-self: center;
    margin: auto;
    font-size: 15px;
    font-weight: 500;
    color: rgb(2 137 210);
}

.vac-right::before {
    content: '+';
    margin-right: 5px;
    font-size: 15px;
}

.rezume::before {
    content: '+';
    margin-right: 5px;
    font-size: 15px;
}

.container {
    width: 100%;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.telefon {
    font-weight: 400;
    color: black;

}

.lang {
    color: black;
    text-transform: uppercase;
    margin-left: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.enter, .telefon {
    align-self: center;
}

.pading-lang {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pading-left {
    padding-left: 25px;
}

.border-round {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 9999px;
    border-color: rgb(2 137 210)
}

.border-pat {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(2 137 210)
}

.padding {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.margin-left {
    margin-left: 10px;
}

/* .path[Attributes Style] {
    d: path("M 4 15 h 2 v 5 h 12 V 4 H 6 v 5 H 4 V 3 a 1 1 0 0 1 1 -1 h 14 a 1 1 0 0 1 1 1 v 18 a 1 1 0 0 1 -1 1 H 5 a 1 1 0 0 1 -1 -1 v -6 Z m 6 -4 V 8 l 5 4 l -5 4 v -3 H 2 v -2 h 8 Z");
    fill: rgb(2, 137, 210);
}     */



/* .d-flex {
    display: flex;
} */

/* .header-nav-right {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-end {
    justify-content: end;
}

.justify-content-end {
    justify-content: flex-end;
} */

