.bg-blue {
    background-color: blue;
}

.bg-orange {
    background-color: orange;
}

.bg-green {
    background-color: green;
}

.bg-violet {
    background-color: violet;
}

.bg-pink {
    background-color: pink;
}

.flex-el {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 24px;
}

.flex-container {
    background-color: lightgrey;
    display: flex;
    padding: 20px;
    /* justify-content: space-evenly;
    flex-wrap: wrap; */
}